<body style="background-color: #e2e3e1 !important;">
  <app-root></app-root>

<!-- <img src="assets/Logo-projeto.png"> -->
<nav class="navbar background-nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand title" href="#">IMOBI</a> -->
      <img class="alinha-img-top" src="assets/64x64.png">
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="">Ínicio</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="feed-comp-ads">Busca de Imóveis</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="cadastro-anuncio">Anuncie seu Imóvel</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="#">Quem somos?</a>
    </div>

        <a class="navbar-brand short-title" data-toggle="dropdown" href="#"><i class='fa fa-user' style="font-size: 2rem"></i> Meu perfil
        <!--Code to show caret sign-->
        <span class="caret"></span></a>
        <!--here goes your list-->
        <ul class="dropdown-menu dropdow short-title">
          <li><a href="meu-perfil">Perfil</a></li>
          <li><a href="#"><i class='fa fa-sign-out'></i>Logout</a></li>
        </ul>
  </div>
</nav>
</body>
<div style="display: flex">
  <div class="title-base margem">
  MEU PERFIL
  </div>
</div>

<div style="z-index: 111" class="margem2 title-base2 fadeIn first">

  <div>
    <span class="base nome">NOME DO USUÁRIO</span>
  </div>

  <div>
    <span class="base cpf">134.874.816-85</span>
  </div>

  <div>
    <span class="base numero">+55 35 98817-7898</span>
  </div>

  <div>
    <span class="base email">tiagosilvadev2002@gmail.com</span>
  </div>

  <div>
    <span class="base likes">LIKES: 10</span> <a class="visualizar-likes" href="">VISUALIZAR LIKES</a>
  </div>

  <div>
    <i class='fa fa-user icon-foto' style="font-size: 5rem"></i>
  </div>

  <div class="upload">
    <input type="file" accept="image/*" capture="environment" id="imageCapturer">
  </div>

  <button type="submit" class="corretorpro"><i class='fa fa-plus'></i> MODO PROFISSIONAL</button>

</div>


