<body style="background-color: #e2e3e1 !important;">
    <app-root></app-root>

  <!-- <img src="assets/Logo-projeto.png"> -->
<nav class="navbar background-nav navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand title" href="#">IMOBI</a> -->
        <img class="alinha-img-top" src="assets/64x64.png">
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="">Ínicio</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="feed-comp-ads">Busca de Imóveis</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="cadastro-anuncio">Anuncie seu Imóvel</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="#">Quem somos?</a>
      </div>

          <a class="navbar-brand short-title" data-toggle="dropdown" href="#"><i class='fa fa-user' style="font-size: 2rem"></i> Meu perfil
          <!--Code to show caret sign-->
          <span class="caret"></span></a>
          <!--here goes your list-->
          <ul class="dropdown-menu dropdow short-title">
            <li><a href="meu-perfil">Perfil</a></li>
            <li><a href="#"><i class='fa fa-sign-out'></i>Logout</a></li>
          </ul>
    </div>
  </nav>
</body>

<button *ngIf="this.filtrando === true" class="filter" (click)="setNaoFiltrando()"><i class='fa fa-filter'></i>ALTERAR FILTROS</button>
<div *ngIf="this.filtrando === false" class="fadeIn first">
<i *ngIf="this.clear === false" title="Limpar Filtros" (click)="clearFiltros()" class="fas fa-sync spin-animated"></i>
<i *ngIf="this.clear === true" class="fas fa-sync fa-spin spin-animated"></i>

<img class="alinha-img-centro fadeIn second" src="assets/Logo-projeto.png">
<div style="display: flex">
  <div class="title-base margem">
  O IMÓVEL PERFEITO PRA VOCÊ!
  </div>
</div>
<div class="padroniza-all">
  <div class="margem2 title-base2 fadeIn first" style="display: block">
    <span class="title-base3">{{this.title}}</span>
    <div class="btn-group define-btn">
      <span class="main-titles-tipo">TIPO DO IMÓVEL</span>
      <button type="button" class="btn btn-danger"><i class='fa fa-home'></i> {{this.tipo}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionado('casa')">Casas</a>
        <a class="dropdown-item" (click)="setSelecionado('apartamento')">Apartamentos</a>
        <a class="dropdown-item" (click)="setSelecionado('terreno')">Terrenos</a>
        <a class="dropdown-item" (click)="setSelecionado('ponto-comercial')">Ponto Comercial</a>
      </div>
    </div>
    <div class="btn-group define-btn2">
      <span class="main-titles-quota">QUOTA</span>
      <button type="button" class="btn btn-danger"><i class='fa fa-dollar'></i> {{this.pagamento}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoPagamento('vista')">Á vista</a>
        <a class="dropdown-item" (click)="setSelecionadoPagamento('parcelado')">Parcelado</a>
      </div>
    </div>
    <div class="btn-group define-btn3">
      <span class="main-titles-faixa">FAIXA DE PREÇO</span>
      <button type="button" class="btn btn-danger"><i class='fas fa-funnel-dollar'></i> {{this.faixaDePreco}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoFaixa('abaixo')">Abaixo de R$30.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('30')">R$ 30.000,00 - R$60.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('60')">R$ 60.000,00 - R$90.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('90')">R$ 90.000,00 - R$120.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('120')">R$ 120.000,00 - R$150.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('acima')">Acima de R$150.000,00</a>
        <a class="dropdown-item" (click)="setSelecionadoFaixa('personalizado')">Personalizado</a>
      </div>
    </div>
    <div class="btn-group define-btn4 alinhabtn4">
      <span class="main-titles-localizacao">LOCALIZAÇÃO</span>
      <button type="button" class="btn btn-danger"><i class='fa fa-globe'></i> {{this.localizacao}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoLocalizacao('Brasil')">Brasil</a>
      </div>
    </div>

    <div *ngIf="this.localizacao != 'País'" class="btn-group define-btn4 alinhabtn5">
      <button type="button" class="btn btn-danger">{{this.localizacaoEstado}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoEstado('Minas Gerais')">Minas Gerais</a>
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoEstado('São Paulo')">São Paulo</a>
      </div>
    </div>

    <div *ngIf="this.localizacaoEstado != 'Estado'" class="btn-group define-btn4 alinhabtn6">
      <button type="button" class="btn btn-danger">{{this.localizacaoCidade}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div *ngIf="this.localizacaoEstado === 'Minas Gerais'" class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoCidade('Itajubá')">Itajubá</a>
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoCidade('Piranguinho')">Piranguinho</a>
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoCidade('Delfim Moreira')">Delfim Moreira</a>
      </div>
      <div *ngIf="this.localizacaoEstado === 'São Paulo'" class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoCidade('Campinas')">Campinas</a>
        <a class="dropdown-item" (click)="setSelecionadoLocalizacaoCidade('Santos')">Santos</a>
      </div>
    </div>
    <button class="filtrar" (click)="filtroAtivo('filtrando')"><i class='fa fa-filter'></i> FILTRAR</button>
    <span class="anuncie-text">É um corretor? Deseja colocar um imóvel a venda?</span>
    <button class="anuncie" (click)="navigateAnuncio()"><i class='fa fa-plus'></i> ANUNCIE</button>
  </div>
</div>
</div>

