<body style="background-color: #ffff !important;">
    <app-root></app-root>

<nav class="navbar background-nav navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand title" href="#">IMOBI</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="#">Início</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="#">Busca de Imóveis</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand short-title" href="#">Quem somos?</a>
      </div>

          <a class="navbar-brand short-title" data-toggle="dropdown" href="#">Meu perfil
          <!--Code to show caret sign-->
          <span class="caret"></span></a>
          <!--here goes your list-->
          <ul class="dropdown-menu dropdow short-title">
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
    </div>
  </nav>
</body>

<div>
  <div class="title-base margem">
  O QUE PROCURA?
  </div>
  <div class="margem2 title-base2">
    <span class="title-base3">{{this.title}}</span>
    <div class="btn-group define-btn">
      <button type="button" class="btn btn-danger">{{this.tipo}}</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="setSelecionado('casa')">Casas</a>
        <a class="dropdown-item" (click)="setSelecionado('apartamento')">Apartamentos</a>
        <a class="dropdown-item" (click)="setSelecionado('terreno')">Terrenos</a>
      </div>
    </div>
  </div>
</div>
