.background-nav {
    background: #134f88;
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.short-title {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

body {
    background: #ffff !important;
}

.dropdow {
    background: rgba(0, 0, 0, 0) !important;
    border-style: none !important;
    left: 87% !important;
    justify-content: space-between;
    top: 117% !important;
    text-align-last: center;
}