<body style="background-color: #e2e3e1 !important;">
  <app-root></app-root>

<!-- <img src="assets/Logo-projeto.png"> -->
<nav class="navbar background-nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand title" href="#">IMOBI</a> -->
      <img class="alinha-img-top" src="assets/64x64.png">
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="">Íncio</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="feed-comp-ads">Busca de Imóveis</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand short-title" href="#">Quem somos?</a>
    </div>

        <a class="navbar-brand short-title" data-toggle="dropdown" href="#"><i class='fa fa-user' style="font-size: 2rem"></i> Meu perfil
        <!--Code to show caret sign-->
        <span class="caret"></span></a>
        <!--here goes your list-->
        <ul class="dropdown-menu dropdow short-title">
          <li><a href="meu-perfil">Perfil</a></li>
          <li><a href="#"><i class='fa fa-sign-out'></i>Logout</a></li>
        </ul>
  </div>
</nav>
</body>
<div style="display: flex">
  <div class="title-base margem">
  O IMÓVEL PERFEITO PRA VOCÊ!
  </div>
</div>
<div class="margem2 title-base2 fadeIn first">

  <div class="upload">
    <input type="file" accept="image/*" capture="environment" id="imageCapturer">
  </div>

  <form>
    <input type="text" id="login" class="fadeIn second email" name="login" placeholder="TÍTULO">
  </form>

  <form>
    <input type="text" id="login" class="fadeIn second descricao" name="login" placeholder="DESCRIÇÃO">
  </form>

  <div class="tipo">
    <div class="btn-group define-btn">
        <span class="main-titles-tipo">TIPO DO IMÓVEL</span>
        <button type="button" class="btn btn-danger"><i class='fa fa-home'></i></button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">Casas</a>
        <a class="dropdown-item">Apartamentos</a>
        <a class="dropdown-item">Terrenos</a>
        <a class="dropdown-item">Ponto Comercial</a>
      </div>
    </div>
</div>

<div class="quota">
  <div class="btn-group define-btn">
      <span class="main-titles-tipo">QUOTA</span>
      <button type="button" class="btn btn-danger"><i class='fa fa-home'></i></button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    <div class="dropdown-menu">
      <a class="dropdown-item">Casas</a>
      <a class="dropdown-item">Apartamentos</a>
      <a class="dropdown-item">Terrenos</a>
      <a class="dropdown-item">Ponto Comercial</a>
    </div>
  </div>
</div>

<div class="selo">
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">DESEJA SOLICITAR SELO IMOBI?</label>
    <a href="" style="font-size: 18px; display: block;">O que é o selo Imobi?</a>
  </div>
</div>

<div class="anuncio">
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">DESEJA SOLICITAR ANÚNCIO PAGO?</label>
    <a href="" style="font-size: 18px; display: block;">O que é anúncio pago?</a>
  </div>
</div>

</div>

