<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <span class="imobi-title">IMOBI</span>
      </div>

      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Insira seu usuário">
        <input style="margin-top: 25px !important;" type="password" id="password" class="fadeIn third" name="login" placeholder="Insira uma senha">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirme a senha digitada">
        <input onclick="sentEmail()" type="submit" class="fadeIn fourth" value="Cadastrar">
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="">Voltar ao login</a>
      </div>
  
    </div>
  </div>