<body
  style="
    background: linear-gradient(
      145deg,
      #ebeaea,
      #e0dfdf,
      transparent
    ) !important;
  "
>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img
          style="margin-bottom: 11px"
          class="alinha-img-top"
          src="assets/logo-branco-128x128.jpg"
        />
      </div>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sobre mim"> Content 1 </mat-tab>

        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>

      <div id="formFooter">
        <!-- <a class="underlineHover" href="">Voltar ao login</a> -->
      </div>
    </div>
  </div>
</body>
