<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<body>
    <div>
        <div> 
            <span class="title-imobi">IMOBI</span>
            <input class="position brdr-input" type="text" placeholder="Insira seu email">
            <a class="cadastro" href="cadastro-comprador">Cadastre-se</a>
            <input class="position brdr-input align" type="password" placeholder="Insira sua senha">
            <button class="position btn-login-main btn-login">LOGIN </button>
        </div>
    </div>
</body>