<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <span class="imobi-title">IMOBI</span>
      </div>

      <form>
        <i class="fa fa-envelope icon-email fadeIn second" aria-hidden="true"></i><input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <i class="fa fa-key icon-key fadeIn third" aria-hidden="true"></i><input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
        <input type="button" class="fadeIn fourth" value="Log In">
      </form>

      <div id="formFooter">
        <a style="margin-right: 25px;" class="underlineHover" href="esqueci">Esqueci a senha?</a>
        <a class="underlineHover" href="cadastro-comprador">Cadastre-se</a>
      </div>
  
    </div>
  </div>
<!-- <body>
    <div>
        <div>
            <span class="title-imobi">IMOBI</span>
            <input class="position brdr-input" type="text" placeholder="Insira seu email">
            <a class="cadastro" href="cadastro-comprador">Cadastre-se</a>
            <input class="position brdr-input align" type="password" placeholder="Insira sua senha">
            <button class="position btn-login-main btn-login">LOGIN</button>
        </div>
    </div>
</body> -->