.position {
    position: absolute;
    right: 50%;
    top: 50%;
}

input {
    width: 35px;
}

.brdr-input {
    width: 30vh;
    font-size: 20px;
    display: flex;
    border-style: solid;
    border-color: #145DA0;
    border-radius: 10px;
    border-width: 3px;
    font-family: monospace;
    font-weight: 700;
}

.btn-login-main {
    width: 30vh;
    font-size: 20px;
    display: flex;
    border-style: solid;
    border-color: #14a076;
    border-radius: 10px;
    border-width: 3px;
    font-family: monospace;
    font-weight: 700;
}

.cadastro {
    position: absolute;
    right: 56%;
    top: 60%;
}

.btn-login-main:hover{
    background-color: #14a076; 
}

.brdr-input:hover{
    width: 40vh;
    font-size: 25px;
    border-color: #14a076;
}

.align{
    position: absolute;
    top: 55%;
}

.btn-login {
    position: absolute;
    top: 64%;
    width: 10%;
    left: 37%;
    height: 5%;
}

.title-imobi {
    position: absolute;
    top: 40%;
    right: 51%;
    font-size: 50px;
    font-family: monospace;
    font-weight: 700;
}