<div class="row">
  <mat-card class="col space efeito-vidro">
    <mat-card class="card-lancamento">LAÇAMENTO</mat-card>
    <img
      class="foto-imovel"
      src="./../../../assets/logo-fundo-preto-128x128.jpg"
      alt=""
    />
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="text-first">Tipo: </span
        ><span class="text-second">Casa</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Valor: </span
        ><span class="text-second">R$90.000,00</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Quota: </span
        ><span class="text-second">A vista ou Aluguel</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Corretor: </span
        ><span class="text-second">Tiago Silva</span></mat-list-item
      >
    </mat-list>
  </mat-card>

  <mat-card class="col space efeito-vidro">
    <mat-card class="card-lancamento">LAÇAMENTO</mat-card>
    <img
      class="foto-imovel"
      src="./../../../assets/logo-fundo-preto-128x128.jpg"
      alt=""
    />
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="text-first">Tipo: </span
        ><span class="text-second">Casa</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Valor: </span
        ><span class="text-second">R$90.000,00</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Quota: </span
        ><span class="text-second">A vista ou Aluguel</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Corretor: </span
        ><span class="text-second">Tiago Silva</span></mat-list-item
      >
    </mat-list>
  </mat-card>

  <mat-card class="col space efeito-vidro">
    <mat-card class="card-lancamento">LAÇAMENTO</mat-card>
    <img
      class="foto-imovel"
      src="./../../../assets/logo-fundo-preto-128x128.jpg"
      alt=""
    />
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><span class="text-first">Tipo: </span
        ><span class="text-second">Casa</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Valor: </span
        ><span class="text-second">R$90.000,00</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Quota: </span
        ><span class="text-second">A vista ou Aluguel</span></mat-list-item
      >
      <mat-list-item role="listitem"
        ><span class="text-first">Corretor: </span
        ><span class="text-second">Tiago Silva</span></mat-list-item
      >
    </mat-list>
  </mat-card>
</div>
