
<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <span class="imobi-title">Está perdido?</span>
      </div>

      <form>
        <i class="fa fa-envelope icon-email fadeIn second" aria-hidden="true"></i><input type="text" id="login" class="fadeIn second" name="login" placeholder="Insira o email ou CPF/CNPJ da sua conta">
        <input (click)="sentCode()" type="button" class="fadeIn fourth" value="Enviar código">
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="">Voltar ao login</a>
      </div>
  
    </div>
  </div>