<body
  style="
    background: linear-gradient(
      145deg,
      #ebeaea,
      #e0dfdf,
      transparent
    ) !important;
  "
>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img
          style="margin-bottom: 11px"
          class="alinha-img-top"
          src="assets/logo-branco-128x128.jpg"
        />
      </div>

      <mat-form-field
        style="width: 21rem"
        appearance="outline"
        class="fadeIn second"
      >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
        <mat-icon style="font-size: 18px" class="primary" matPrefix
          >alternate_email
        </mat-icon>
      </mat-form-field>

      <mat-form-field
        style="width: 21rem"
        appearance="outline"
        class="fadeIn third"
      >
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Email" />
        <mat-icon style="font-size: 18px" class="primary" matPrefix
          >key
        </mat-icon>
      </mat-form-field>

      <input
        (click)="navigate()"
        type="button"
        class="fadeIn fourth"
        value="Log In"
      />

      <div id="formFooter">
        <a style="margin-right: 25px" class="underlineHover" href="esqueci"
          >Esqueci a senha?</a
        >
        <a class="underlineHover" href="cadastro-comprador">Cadastre-se</a>
      </div>
    </div>
  </div>
</body>
