<body
  style="
    background: linear-gradient(
      145deg,
      #ebeaea,
      #e0dfdf,
      transparent
    ) !important;
  "
>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img
          style="margin-bottom: 11px"
          class="alinha-img-top"
          src="assets/logo-branco-128x128.jpg"
        />
      </div>

      <form>
        <div class="form-group">
          <mat-form-field
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>Nome de usuário</mat-label>
            <input matInput placeholder="Nome de usuário" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix>
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix
              >mail
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            *ngIf="this.ehComprador"
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>CPF ou CNPJ</mat-label>
            <input matInput placeholder="CPF ou CNPJ" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix>
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            *ngIf="!this.ehComprador"
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>CNPJ</mat-label>
            <input matInput placeholder="CNPJ" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix>
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            *ngIf="!this.ehComprador"
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>RAZÃO SOCIAL</mat-label>
            <input matInput placeholder="CPF ou CNPJ" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix>
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix
              >key
            </mat-icon>
          </mat-form-field>

          <mat-form-field
            style="width: 21rem"
            appearance="outline"
            class="fadeIn second"
          >
            <mat-label>Repita sua senha</mat-label>
            <input matInput placeholder="Repita sua senha" />
            <mat-icon style="font-size: 18px" class="primary" matPrefix
              >key
            </mat-icon>
          </mat-form-field>

          <input
            (click)="navigate()"
            type="button"
            class="fadeIn fourth"
            value="Cadastrar"
          />
        </div>
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="">Voltar ao login</a>
      </div>
    </div>
  </div>
</body>
