// /* You can add global styles to this file, and also import other style files */
// body {
//     background-color: #134f88 !important;
// }

// html {
//     color: #085b8b;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(184, 184, 184);      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1b4e9d;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(184, 184, 184);  /* creates padding around scroll thumb */
}
